<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/orthodontics/alf_appliance.png');">
                    <div>
                        <h2>
                            Аппарат ALF для<br> исправление прикуса
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Мягкое воздействие, что устраняет болезненность и неудобства в ходе ношения
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_alf">
        <div class="wrapper">
            <div class="alf_flex">
                <div class="alf_content">
                    <p>сужение верхней и нижней челюстей;</p><br><br>

                    <p> скученность зубов;</p><br><br>

                    <p> частые сколы зубов и коронок;</p><br><br>

                    <p> бруксизм;</p><br><br>

                    <p> патологическая стираемость зубов;</p><br><br>

                    <p> нарушения пародонта;</p><br><br>

                    <p> патология прикуса (мезиальный, дистальный, прямой прикус);</p><br>
                    <p> вывих внчс;</p><br><br>

                    <p> щелчки и хрусты в внчс;</p><br><br>

                    <p> дисфункции жевательных мышц;</p>
                </div>
                <div class="alf_content">
                    <p>асимметричное расположение челюстей;</p><br><br>

                    <p>асимметрия лицевого скелета;</p><br><br>

                    <p>симптомы, связанные с нарушениями речи, глотания, дыхания;</p><br><br>

                    <p>симптомы, связанные с нарушением носового дыхания;</p><br><br>

                    <p>невриты лицевых нервов, вызванные компрессией нервов костями черепа;</p><br><br>

                    <p>мигрени, головные боли;</p><br><br>

                    <p>головокружения;</p><br><br>

                    <p> общая слабость организма и вегето-сосудистый синдром;</p><br><br>

                    <p> боли в шее, поясничном отделе;</p><br><br>

                    <p>нарушения осанки.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Аппарат ALF для исправления<br> прикуса</h2>
                <p style="max-width: 675px">
                    Коррекция прикуса входит в число самых востребованных ортодонтических услуг. По статистике, дефекты прикуса наблюдаются у каждого пятого жителя планеты, а красивую улыбку хочет иметь каждый. Рассмотрим инновационную методику Alf, которая начала широко
                    применяться в качестве альтернативы брекет-систем и других ортодонтических конструкций.<br> Лечение аппаратом ALF является частью ортокраниодонтии, направления лежащего на стыке двух наук: стоматологии и остеопатии.
                    Так как в большинстве случаев проблемы с ВНЧС у пациентов возникают вследствие не сбалансированного расположения челюстей и костей черепа, уменьшенных размеров челюстей и прочих асимметрий, специалисты работающие в направлении ортокраниодонтии
                    для расширения и расположения костей верхней челюсти используют аппарат ALF.
                </p>
            </div>
            <img src="./images/orthodontics/ex12.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Принцип действия аппарата<br> для исправления прикуса ALF</h2>
                <p style="max-width: 675px">

                    Технология была разработана еще в 1983 году доктором Дэриком Нордстром. Механизм представляет собой тонкую проволоку, устанавливаемую на внутреннюю поверхность зубного ряда. Для фиксации используется пара петель.<br><br> Аппарат для
                    исправления прикуса ALF использует принципы краниальной остеопатии — мягкое воздействия на кости черепа, фасции и мозговую оболочку дает возможность возвращать краниальные твердые ткани на свои места. Использование аппарата ALF позволяет
                    мягко устранить различные блокировки в костях черепа, вернуть черепу естественное «дыхание», тем самым нормализуя развитие лицевого скелета и улучшая общее самочувствие пациента.
                </p>
            </div>
            <img src="./images/orthodontics/ex2_7.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/repair_rep.html" %} {% include "parts/care.html" %} {% include "parts/repair_veneer.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {%
    include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/deduction.html" %} {% include
    "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>