<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/dental_treatment/anterior_treatment.png');">
                    <div>
                        <h2>
                            Лечение<br> передних зубов
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Лечение зубов без боли
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Обратиться за стоматологической помощью необходимо, если:</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if16.png" alt="">
                        <h4>Наблюдается потемнение зубной эмали</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if17.png" alt="">
                        <h4>Возникла кариозная полость</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if18.png" alt="">
                        <h4>Имеются болевые ощущение при принятии холодной и/или горячей пищи</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if19.png" alt="">
                        <h4>На зубах имеются сколы</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Лечение передних зубов</h2>
                <p style="max-width: 675px">
                    Особое значение в стоматологии имеет восстановление передних зубов. Фронтальная группа формирует улыбку, поэтому все ее дефекты: пятна, кривизна, пломбы, сколы бросаются в глаза и самому человеку, когда он смотрит в зеркало, и окружающим. Первостепенная
                    задача стоматолога – ювелирно выполнить лечение передних зубов, придать эстетику и естественную натуральность результату. Современные материалы и технологии способствуют максимальной имитации природной эмали по структуре, полупрозрачности
                    на режущем крае, а из широкой палитры готовых оттенков, легко подобрать необходимый. Пролеченные фронтальный зубы ничем не будут отличаться от других в своем ряду.


                </p>
            </div>
            <img src="./images/dental_treatment/ex6.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Особенности лечения<br> передних зубов</h2>
                <p style="max-width: 744px">





                    <span><b>Пломбы.</b> Светоотверждаемые композитные материалы последнего поколения имеют высокую плотность, не дают усадки со временем. Материал подбираем под оттенок зубов пациента. Пломбу полируем, добиваясь идеального смыкания зубов.</span><br><br>
                    <span><b>Вкладки.</b> Керамические микропротезы изготавливаются в лаборатории по индивидуальным параметрам пациента. Они максимально плотно примыкают к тканям, зуб выглядит цельным и здоровым. Цена такой реставрации будет выше, чем у пломбирования, но и результат в разы эстетичнее, долговечнее.</span>
                    <span><b>Коронки.</b> Если зуб значительно разрушен, мы восстановим его коронкой из керамики или диоксида циркония. Это наиболее эстетичные и современные варианты — восстановленный зуб будет выглядеть как новый. Противопоказаний к лечению этими коронками нет, так как они биосовместимы и подходят всем пациентам.</span>


                </p>
            </div>
            <img src="./images/dental_treatment/ex2_5.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>