<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/surgery/bone_grafting.png');">
                    <div>
                        <h2>
                            Костная<br> пластика
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Полноценное восстановление кости десны
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Возможность дальнейшей имплантации
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Для кого рекомендуется проводить операцию</h2>

                </div>
                <div class="info_care_cont info_care_cont_p ">

                    <div class="ic_cart">
                        <img src="./images/info_care/if47.png" alt="">
                        <h4>После давней потери или удалении зуба, ношения съемных ортопедических протезов.</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if48.png" alt="">
                        <h4>Также удаление зуба могло быть травматичным, вследствие чего повреждается часть кости.</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if49.png" alt="">
                        <h4>Травмы челюсти и врожденные аномалии строения челюсти - тоже показания для операции.</h4>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что такое костная пластика?</h2>
                <p style="max-width: 675px">
                    Костная пластика (или остеопластика) – это процедура по увеличению объёмов костной ткани. Подготовительный этап перед имплантацией, который требуется большинству пациентов. Ведь для прочной установки имплантатов – искусственных корней – необходим прочный
                    «фундамент».
                    <br><br> Хирург-стоматолог нашей клиники имеет многолетний опыт в проведении костной пластики.<br><br> Делаем процедуру безболезненно - с эффективной местной анестезией, иногда применяем седацию.
                </p>
            </div>
            <img src="./images/surgery/ex5.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly exactly2 exactly_flex">
            <img src="./images/surgery/ec5.png" alt=" ">
            <div class="exactly-header exactly-header2" style="padding: 0;">
                <h2>Какие бывают виды костной пластики? </h2>
                <p style="max-width: 675px">
                    <b>   Костная пластика нижней челюсти в боковых отделах.</b> Потеря объема костной ткани может привести к изменению прикуса - нижняя часть может выдвинуться вперед. <br> <br>


                    <b>Костная пластика фронтального отдела.</b> Важно не только увеличить кость, но и добиться хорошего косметического результата. <br> <br>

                    <b>Костная пластика боковых отделов верхней челюсти или синус-лифтинг.</b> В этой области находятся гайморовы пазухи (синусы). Практикуют закрытый и открытый синус-лифтинг - по способу проникновения в кость.
                </p>
            </div>

        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %}
    <div class="care">
        <div class="wrapper">
            <h2>Подготовка к операции
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_5.png" alt="">
                    <h3>Томографическое обследование</h3>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_6.png" alt="">
                    <h3>Консультация ЛОР-врача для исключения заболеваний гайморовой пазухи (для синус-лифтинга).</h3>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_7.png" alt="">
                    <h3>Биохимический анализ крови (для исключения противопоказаний к операции и аллергических реакций).</h3>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">4</div>
                    <img src="./images/index/care_4.png" alt="">
                    <h3>Рентген, электрокардиограмма, клинический анализ мочи (при общем наркозе).</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="price_implant price_crown">
            <h2>Стоимость удаления зуба мудрости</h2>
            <p class="price_title_p ">Итоговая цена! Никаких скрытых платежей! В стоимость входит:</p>

            <div class="price_table price_table_turnkey">
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                    <h3><span>3 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                    <h3><span>4 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                    <h3><span>5 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>

            </div>


            <div class="price_table price_table_mobile ">
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                        <h3><span>3 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                        <h3><span>4 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                        <h3><span>5 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>