<!DOCTYPE html>
<html lang='ru'>

    {% include "parts/head.html" %}

<body>
   
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>

    <div class="wrapper">
        {% include "parts/header.html" %}

        <div class="swiper swiper-header swiper-usual swiper-brackets products__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/brackets/slider/backgrounds/1.png');">
                    <div>
                        <h2>
                            Брекеты Damon <br> “под ключ” <br>
                            <span>по старой цене</span>
                        </h2>

                        <div class="swiper-body">
                            <p class="swiper-body-description">
                                <img src="./images/brackets/slider/mark.svg" alt=""> Гарантия лучшей цены
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image: url('./images/brackets/slider/backgrounds/2.png');">
                    <div>
                        <h2>
                            Брекеты Damon <br> “под ключ” <br>
                            <span>по старой цене</span>
                        </h2>

                        <div class="swiper-body">
                            <p class="swiper-body-description">
                                <img src="./images/brackets/slider/mark.svg" alt=""> Лучший выбор. Брекеты Damon без заметных резинок и иных выделяющихся элементов.
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-skidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image: url('./images/brackets/slider/backgrounds/3.png');">
                    <div>
                        <h2>
                            Брекеты Damon <br> “под ключ” <br>
                            <span>по старой цене</span>
                        </h2>

                        <div class="swiper-body">


                            <p class="swiper-body-description">
                                <img src="./images/brackets/slider/mark.svg" alt=""> Ответьте на 5 вопросов и получите точную цену!
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image: url('./images/brackets/slider/backgrounds/4.png');">
                    <div>
                        <h2>
                            Брекеты Damon <br>“под ключ” <br>
                            <span>по старой цене</span>
                        </h2>

                        <div class="swiper-body">
                            <ul>
                                <li>Гарантия лучшей цены</li>
                                <li>Лучший выбор. Брекеты Damon без заметных резинок и иных выделяющихся элементов</li>
                                <li>Ответьте на 5 вопросов и получите точную цену!</li>
                            </ul>



                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image: url('./images/brackets/slider/backgrounds/5.png');">
                    <div>
                        <h2>
                            Брекеты Damon<br> “под ключ”<br>
                            <span>по старой цене</span>
                        </h2>

                        <div class="swiper-body">
                            <ul>
                                <li>Срок лечения короче, чем на других системах</li>
                                <li>Лучший выбор. Брекеты Damon без заметных резинок и иных выделяющихся элементов.</li>
                                <li>Отлично справляются даже со сложными аномалиями прикуса</li>
                                <li>Ответьте на 5 вопросов и получите точную цену! </li>
                            </ul>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-skidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>

        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="cases advantages">
        <div class="wrapper">
            <h2>
                Преимущества
                <br />Брекетов Damon
            </h2>

            <div class="grid advantages-grid">
                <div class="advantage">
                    <img src="./images/advantages/icons/1.svg" alt="">
                    <p>Не окрашиваются. Пейте кофе или чай в удовольствие</p>
                </div>

                <div class="advantage">
                    <img src="./images/advantages/icons/2.svg" alt="">
                    <p>Клипсы-фиксаторы смотрятся более эстетично
                    </p>
                </div>

                <div class="advantage">
                    <img src="./images/advantages/icons/3.svg" alt="">
                    <p>Вызывают меньше дискомфорта</p>
                </div>

                <div class="advantage">
                    <img src="./images/advantages/icons/4.svg" alt="">
                    <p>Скользящие фиксаторы ускоряют процесс лечения на 20-30%</p>
                </div>

                <div class="advantage">
                    <img src="./images/advantages/icons/5.svg" alt="">
                    <p>Экономия времени. Поход к врачу 1 раз в 2 месяца</p>
                </div>

                <div class="advantage">
                    <img src="./images/advantages/icons/6.svg" alt="">
                    <p>Легкий уход за полостью рта из-за отсутствие лигатур</p>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/top_five.html" %}
    {% include "parts/form_ortodont.html" %}
    {% include "parts/repair_rep.html" %}
    {% include "parts/care.html" %}
    {% include "parts/repair_one.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/form_ziro.html" %}

    {% include "parts/slider_rating.html" %}

    {% include "parts/slider_doctors.html" %}

    <div class="wrapper">
        <div class="consultation_form tax-form">
            <h2>Сделаем налоговый вычет</h2>
            <p style="color: #E31E24">Вернем 13% от стоимости лечения</p>

            <form action="./php/send.php" class="form_cons" id="form1" method="post">
                <input type="text" name="title" value="Налоговый вычет" style="display: none;">
                <input type="text" placeholder="ФИО налогоплатильщика" name="name" required>
                <input type="tel" placeholder="Мобильный телефон" name="phone" class="phone_mask" required>
                <input type="text" placeholder="Тип справки (для себя/ребенка/родителей)" required>
                <button type="submit" class="red_btn submit-btn">Отправить данные</button>
            </form>
            <label>
                <input type="checkbox" name="consent" checked>
                Нажимая "Отправить", я даю своё согласие на обработку моих <a href="./document/Обработка_персонланых_данных_Соглашение.pdf">персональных данных.</a>
              </label>
        </div>
    </div>
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>