<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/prosthetics/ceramic_linings.png');">
                    <div>
                        <h2>
                            Керамические<br> накладки
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Прочность, долговечность
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Быстрая и безболезненная установка
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    {# Добавить блок ДОБАВИТЬ #}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Керамические накладки</h2>
                <p style="max-width: 645px">
                    Керамические накладки — альтернатива композитной пломбе, своего рода керамическая пломба, которая не
                    истирается, не колется, не ломается, не проседает. Делаются керамические накладки из дисиликата
                    лития — стеклокерамики, или из полевошпатной керамики.<br><br>

                    Такая накладка дает полное анатомическое восстановление зуба, отличную эстетику, хорошее
                    качественное прилегание. Но самый важный фактор из всех — это прочность. С таким зубом в течении
                    многих лет не случится абсолютно ничего.<br><br>

                    Накладки применяются на жевательные зубы и не применяются для фронтального отдела зубов.
                </p>
            </div>
            <img src="./images/prosthetics/ex17.png" alt=" ">
        </div>
    </div>

    {# Изменить иконки/отступы #}
    <div class="cases " style="margin-bottom: 100px;">
        <div class="wrapper ">
            <h2>Преимущества керамических накладок </h2>
            <div class="cases_flex_cont all-on-6_cases">
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_1.svg " alt=" ">
                        </div>
                        <p style="max-width: 300px;">Сохранение функций зуба</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_2.svg " alt=" ">
                        </div>
                        <p>Устойчивость к развитию бактерий на поверхности материала</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_4.svg " alt=" ">
                        </div>
                        <p>Остановка разрушения эмали</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_5.svg " alt=" ">
                        </div>
                        <p style="max-width: 320px;">Прочность и долговечность</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_3.svg " alt=" ">
                        </div>
                        <p style="max-width: 240px;">Предотвращение риска повторного развития кариеса</p>
                    </div>



                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_6.svg " alt=" ">
                        </div>
                        <p style="max-width: 300px;">Отсутствие чувствительности к изменению температуры</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "parts/form_ortodont.html" %}

    {% include "parts/top_five.html" %}
    {% include "parts/care.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/deduction.html" %}
    {# Добавить блок ДОБАВИТЬ #}
    {% include "parts/price_crown_tabl.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>