<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/aesthetic_dentistry/composite_veneers.png');">
                    <div>
                        <h2>
                            Композитные<br> виниры
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Быстрое и недорогое восстановление эстетики передних зубов в зоне улыбки
                            </p>
                          
                           
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    {# Добавить блок ДОБАВИТЬ #}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что такое композитные виниры?</h2>
                <p style="max-width: 675px">
                    Композитные виниры (компониры) - это тончайшие накладки из эстетичного композитного материала. Отчасти технология перекликается с художественной реставрацией зубов. Эти пластинки фиксируются на фронтальной части зубов в зоне улыбки. <br><br>

Композитными винирами можно быстро и радикально исправить эстетические недостатки зубов: подкорректировать цвет форму, межзубные промежутки и т.п. Композитные виниры изготавливаются и устанавливаются стоматологом всего за один визит.
                </p>
            </div>
            <img src="./images/aesthetic_dentistry/ex2.png" alt=" ">
        </div>
    </div>
     {# Добавить блок ДОБАВИТЬ#}
    {% include "parts/form_ortodont.html" %} {# Изменить форму#}
      {# Добавить блок ДОБАВИТЬ#}
    
    {% include "parts/repair_one.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/clients.html" %}
    
    
    {% include "parts/slider_rating.html" %}
   
    
    {% include "parts/form_veneers.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/faq.html" %} 
    {# изменить вопросы #}
    {% include "parts/initial_reception.html" %}
    
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>