<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/prosthetics/crowns_bg.png');">
                    <div>
                        <h2>
                            Коронки на<br> передние зубы
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Доступная стоимость
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Высокое внешнее сходство с естественными
                                <br> зубами пациента
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Показания к<br> установке</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/if25.png" alt="">
                        <h4>Разрушение зубной поверхности более 70%</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if29.png" alt="">
                        <h4>Большие сколы, трещины или щели на резцах/клыках</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if26.png" alt="">
                        <h4>Отсутствие зуба</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if30.png" alt="">
                        <h4>Замена существующей ортопедической конструкции</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2 style="max-width: 645px;">Особенности реставрации в зоне улыбки</h2>
                <p style="max-width: 675px">
                    Чаще пациенты стоматологических клиник обращаются к специалистам за помощью в восстановлении именно передних зубов, поскольку если задние еще не так заметны, то отсутствие зуба или эстетический дефект естественной коронки в переднем ряду скрыть невозможно.<br>                    В зависимости от повреждений, установка коронок на передние зубы имеет ряд особенностей. Так при сохранении более 50% зуба возможна фиксация изделия сверху, а при отсутствии зуба или его частичном сохранении выполняется протезирование
                    на импланты.<br><br> Стоматологи рекомендуют ставить коронки на передние зубы из высококачественных материалов при условии индивидуального изготовления.<br> Качественное изделие должно быть прочным, устойчивым к внешним механическим
                    воздействиям, а также соответствовать по оттенку.
                </p>
            </div>
            <img src="./images/prosthetics/ex13.png" alt=" ">
        </div>
    </div>
    <div class="cases " style="margin-bottom: 100px;">
        <div class="wrapper ">
            <h2>Преимущества коронок</h2>
            <div class="cases_flex_cont all-on-6_cases cases_flex_cont2">
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/17.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;"><b>Безопасность</b><br>Стоматологическая керамика не вызывает аллергии, не раздражает ткани десен, не окисляется.</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/9.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;"><b>Прочность</b><br> Коронки из керамики выдерживают достаточно серьезные нагрузки, поэтому можно не отказывать себе в употреблении тех или иных продуктов.</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/18.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;"><b>Стойкость</b><br> Материал сохраняет цвет под воздействием любых пищевых красителей, не впитывает запахи. При этом оттенок коронки можно подобрать индивидуально.</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/19.svg" alt=" ">
                        </div>
                        <p style="max-width: 320px;"><b>Долговечность</b><br>Коронки надежно и плотно фиксируют на опорных зубах посредством специального состава. Срок их службы – до 10 лет. Если на поверхности образуются сколы, их легко запломбировать.</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/20.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;"><b>Защита</b><br>Материал обладает слабой теплопроводностью, поэтому зуб под коронкой надежно защищен от воздействия холодной, горячей пищи и напитков.</p>
                    </div>



                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/21.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;"><b>Деликатная установка</b><br>Для установки коронки необходима минимальная обточка опорных зубов – обычно менее 1 мм.запломбировать.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Добавить ТАБЫ ДОБАВИТЬ #} {% include "parts/form_ortodont.html" %} {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include
    "parts/price_warning.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %}
    <div class="care care2">
        <div class="wrapper">
            <h2>Подготовка к установке зубной коронки
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_5.png" alt="">
                    <h3>Консультация с врачом</h3>
                    <p>Он осматривает полость рта, определяет проблему. Исходя из результатов осмотра, стоматолог строит план дальнейшего лечения. Часто перед протезированием нужно вылечить кариес и пульпит. Также на консультации пациент может задать свои
                        вопросы, выбрать материал протеза.</p>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_6.png" alt="">
                    <h3>Санация</h3>
                    <p>Во время этой процедуры лечат кариес, пульпит, убирают налет. Чтобы инфекция не развивалась под коронкой, нужно очистить и запломбировать каналы. Если инфекция поразила пульпу, ее нужно удалить.</p>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_7.png" alt="">
                    <h3>Подготовка к протезированию </h3>
                    <p>В зависимости от состояния зуба зависит способ подготовки. Стоматолог может обточить эмаль, установить культевую вкладку, штифт или имплант. С установленной основы снимают оттиск, для изготовления постоянного протеза в зуботехнической
                        лаборатории.</p>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">4</div>
                    <img src="./images/index/care_4.png" alt="">
                    <h3>Примерка и фиксация</h3>
                    <p>Через некоторое время стоматолог примеряет протез. Это позволяет скорректировать ортопедическую конструкцию, убрать все недостатки, а также подогнать ее под основу. После он окончательно корректирует, фиксирует ее на стоматологический
                        цемент.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>