<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/surgery/cyst_treatment.png');">
                    <div>
                        <h2>
                            Лечение кисты<br> зуба
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Качественно диагностируем
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Применяем все методы для сохранения зуба
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Причины<br> возникновения:</h2>

                </div>
                <div class="info_care_cont info_care_cont_p ">

                    <div class="ic_cart">
                        <img src="./images/info_care/if44.png" alt="">
                        <h4>При зубной травме</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if45.png" alt="">
                        <h4>При попадании инфекции за верхушку зуба из корневых каналов зуба</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if46.png" alt="">
                        <h4>Во время неправильного лечения зуба</h4>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что такое корневая киста?</h2>
                <p style="max-width: 675px">
                    Корневая киста — образование на верхушке зубного корня, представляющее собой капсулу с гнойным содержимым. Является следствием запущенного пульпита или периодонтита. Образуется в результате невылеченных воспалительных процессов в каналах зуба. Инфекция
                    выходит за пределы корня, формируется гнойный «мешочек». При увеличении в размерах расплавляет окружающую костную ткань, заполняет образовавшуюся полость.
                </p>
            </div>
            <img src="./images/surgery/ex3.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly exactly2 exactly_flex">
            <img src="./images/surgery/ec3.png" alt=" ">
            <div class="exactly-header exactly-header2" style="padding: 0;">
                <h2>Методы лечения кисты зуба</h2>
                <p style="max-width: 675px">

                    <span><b>Удаление зуба</b> - применяется в самых сложных и запущенных случаях. Удаляется зуб вместе с кистой. После удаления зуба нужно решить проблему отсутствия зуба.</span><br><br>

                    <span><b>Резекция верхушки корня</b> – является более щадящим методом и представляет собой устранение образования вместе с небольшой частью корня.</span><br><br>

                    <span><b>Лечение и пломбирование каналов зуба специальными пастами.</b> Лечение всех видов воспалительных процессов на корнях чаще всего протекает благополучно и в случае положительного протекания процесса лечения, киста может «растворится» самостоятельно.</span>

                </p>
            </div>

        </div>
    </div>

    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %}
    <div class="care">
        <div class="wrapper">
            <h2>Этапы имплантации зубов
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2 care_box3">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_16.png" alt="">
                    <h3>Сбор анамнеза</h3>
                    <p>стоматолог опрашивает пациента, проводит осмотр. </p>

                </div>
                <div class="care_box care_box2 care_box3">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_17.png" alt="">
                    <h3>Рентген-диагностика </h3>
                    <p>для уточнения диагноза, установления размера<br> образования, стадии развития назначают<br> ортопантомограмму, 3D-томографию. </p>

                </div>

            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="price_implant price_crown">
            <h2>Стоимость удаления зуба мудрости</h2>
            <p class="price_title_p ">Итоговая цена! Никаких скрытых платежей! В стоимость входит:</p>

            <div class="price_table price_table_turnkey">
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                    <h3><span>3 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                    <h3><span>4 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                    <h3><span>5 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>

            </div>


            <div class="price_table price_table_mobile ">
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                        <h3><span>3 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                        <h3><span>4 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                        <h3><span>5 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>