<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/func_dentistry/dent_a_pos_bg.png');">
                    <div>
                        <h2>
                            Стоматология<br> и осанка
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Применяем уникальные<br>
                                суперсовременные методики лечения
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="exactly_bg">
        <div class="wrapper">
            <div class="exactly  exactly_flex">
                <div class="exactly-header " style="padding: 0;">
                    <h2>Влияние осанки на прикус</h2>
                    <p style="max-width: 780px">
                        Человеческий организм представляет собой единое целое, поэтому любая проблема должна решаться в
                        комплексе. Так, причинами формирования неправильного прикуса могут стать различные сбои в
                        организме. Одной из предпосылок является нарушение осанки, так как проблемы с позвоночником
                        могут привести к серьезным проблемам с зубами.<br><br>
                        Для исправления неправильного прикуса стоматологи используют ортодонтические конструкции, а
                        параллельно с этим ортопеды занимаются укреплением мышц всего тела. Только вернув мышцам
                        первоначальную амплитуду и силу, можно убрать нарушения позвоночника.<br><br>
                        Чем раньше будет начато лечение, тем меньше времени займет процесс исправления, поэтому легче
                        всего данные заболевания поддаются лечению в детском возрасте. Во время роста и развития
                        человеческого организма исправление патологии прикуса осуществляется стимулированием или,
                        наоборот, замедлением роста челюстей. Исправление прикуса и осанки у взрослых пациентов – задача
                        более сложная, но выполнимая. С помощью современных технологий и новых методик удается получать
                        положительные результаты.<br><br>
                    </p>
                </div>
                <img src="./images/func_dentistry/exactly_flex3.png" alt=" ">
            </div>
        </div>
    </div>

    {% include "parts/form_ortodont.html" %}
    <div class="wrapper">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что будет, если не исправлять неправильный прикус</h2>
                <p style="max-width: 880px">
                    Эстетический дефект – это самая частая причина, вынуждающая пациентов обращаться к доктору, но
                    далеко не единственная. Аномалии прикуса могут приводить к:<br><br>
                    <span>заболеваниям пародонта;</span>
                    <span>кариесу;</span>
                    <span>разрушениям задних зубов, так как именно на эту область ложится максимальная нагрузка;</span>
                    <span>патологиям височно-нижнечелюстного сустава;</span>
                    <span>проблемам при жевании и глотании, которые со временем усиливаются;</span>
                    <span>заболеваниям желудочно-кишечного тракта.</span><br>
                    В некоторых случаях неправильный прикус может осложнять или вовсе делать невозможным протезирование
                    зубов.<br><br>
                    Стоматология шагнула далеко вперед и сегодня удается устранять даже самые серьезные патологии
                    прикуса. Конечно, подобные исправления требуют времени и терпения, но в финале пациент полностью
                    избавляется от проблем и получает возможность улыбаться красиво и непринужденно.
                </p>
            </div>
            <img src="./images/func_dentistry/exactly_flex4.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %}
    {% include "parts/care.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/deduction.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>