<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/dental_treatment/dental_pulpitis.png');">
                    <div>
                        <h2>
                            Лечение<br> пульпита
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Поставим точный диагноз, безболезненно проведем<br> лечение, постараемся спасти нерв
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Симптомы пульпита</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if13.png" alt="">
                        <h4>Острая боль (чаще всего ночью) не по причине действия раздражителя

                        </h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if14.png" alt="">
                        <h4>Болевые ощущения на раздражители (горячее/холодное, сладкое/кислое)

                        </h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if15.png" alt="">
                        <h4>Болезненность при перкуссии (постукивании) проблемной единицы
                        </h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что такое пульпит?</h2>
                <p style="max-width: 675px">
                    Пульпит – воспалительное заболевание, поражающее внутреннюю часть зуба, пульпу. Так как пульпа - средоточие нервных окончаний и капилляров, в народе пульпит известен как воспаление нерва.<br><br> Как видно на схеме, основной причиной
                    пульпита является сильное разрушение тканей зуба вследствие кариеса.<br><br> На начальной стадии кариес разрушает зубную эмаль и дентин. Если не обратиться вовремя к врачу и допустить, чтобы пораженная область расширилась и достигла
                    пульпы, начинается пульпит.
                </p>
            </div>
            <img src="./images/dental_treatment/ex13.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %} {# Табы #} {% include "parts/top_five.html" %}
    <div class="care care_twoo">
        <div class="wrapper">
            <h2>Этапы установки
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2  care_box3 care_box4 care_box5">
                    <div class="counsult_number">1</div>

                    <h3>Биологический (консервативный)</h3>
                    <p>На ранней стадии пульпит успешно лечится консервативной терапией, предполагающей сохранение пульпы или удаление только коронковой части с сохранением корневой (витальная ампутация/пульпотомия).<br><br>

                        <b>Биологическое лечение показано пациентам:</b><br><br>

                        <span>с острым очаговым пульпитом;</span><br>
                        <span>в возрасте до 30 лет;</span><br>
                        <span> без хронических заболеваний.</span>

                    </p>

                </div>
                <div class="care_box care_box2 care_box3 care_box4 care_box5">
                    <div class="counsult_number">2</div>

                    <h3>Хирургический</h3>
                    <p>В запущенной форме требуется хирургическая операция по удалению инфицированной пульпы витальным или девитальным методом. Витальное удаление проводится сразу под местной анестезией, девитальное через 24–48 часов после предварительной
                        обработки пульпарной камеры девитализирующими пастами на основе мышьяка.<br><br>

                        <b>Хирургическое лечение пульпы показано в следующих клинических случаях:</b><br><br>

                        <span>глубокий кариес затронул пульпу;</span><br>
                        <span>воспалительный процесс проходит с образованием гноя;</span><br>
                        <span>появление язв в пульпе (гангренозная форма);</span> <br>
                        <span>механическая травма открыла корневой канал.</span>


                    </p>

                </div>

            </div>
        </div>
    </div>
    {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {% include "parts/slider_rating.html"
    %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>