<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/orthodontics/dental_braces.png');">
                    <div>
                        <h2>
                            Выравнивание зубов <br> без брекетов
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Гарантия лучшей цены
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Кому подходит выравнивание без брекетов</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/if38.png" alt="">
                        <h4>При незначительном нарушении прикуса и искривлении зубов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if55.png" alt="">
                        <h4>При отсутствии нескольких зубов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if56.png" alt="">
                        <h4>При отсутствии возможности носить брекеты</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if57.png" alt="">
                        <h4>При аллергических реакциях на металлические конструкции</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Как выровнять зубы<br> без брекетов</h2>
                <p style="max-width: 675px">
                    Врачи проводят выравнивание зубов без брекетов с помощью накладок виниров (или ультраниров) и элайнеров.<br><br> Есть и другие способы, например, установка эстетических коронок из керамики, ношение трейнеров или корректировка формы
                    зубов с помощью фотополимеров, но мы не будем о них говорить из-за их недостатков по сравнению с винирами или элайнерами.
                </p>
            </div>
            <img src="./images/orthodontics/ex5.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Выравнивание зубов<br> винирами и ультранирами</h2>
                <p style="max-width: 760px">

                    Виниры и ультраниры — накладки на зубы толщиной 0,3-0,7 мм, позволяют улучшить эстетику зубов в зоне улыбки.<br> Накладки позволяют скрыть щели между зубами, сколы, неровности и выровнять высоту передних зубов. Фактически, виниры и
                    ультраниры делают улыбку привлекательной и скрывают все недостатки, но они не исправляют прикус.<br><br>

                    <b>Преимущества способа:</b><br><br>

                    <span>быстрый результат (процесс планирования, изготовления и установки виниров занимает 2-3 недели);<br><br></span>
                    <span>можно скрыть мелкие дефекты зубов;<br><br></span>
                    <span>срок эксплуатации (пациентам меняют накладки приблизительно раз в 8-10 лет и более);<br><br></span>
                    <span>виниры выглядят естественно и не теряют цвет (при правильном уходе).</span>




                </p>
            </div>
            <img src="./images/orthodontics/ex2_5.png" alt=" ">
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly exactly2 exactly_flex">
            <img src="./images/surgery/ec7.png" alt=" ">
            <div class="exactly-header exactly-header3" style="padding: 0;">
                <h2>Выравнивание зубов элайнерами</h2>
                <p style="max-width: 740px">
                    Элайнеры или капы для выравнивания зубов — съемные конструкции, которые изготавливают из поликарбоната, поэтому они практически незаметны при носке.<br><br> Принцип действия элайнеров не отличается от брекетов — они медленно выравнивают
                    положение зубов. Главное отличие в том, что брекеты — несъемные, а элайнеры — съемные, поэтому результат зависит еще и от того, не забывает ли пациент носить конструкцию.<br><br>

                    <b>Преимущества выравнивания зубов элайнерами:</b><br><br>

                    <span>практически незаметны;</span><br>
                    <span>легко ухаживать за ротовой полостью;</span><br>
                    <span>минимальный психологический и физический дискомфорт (не травмируют десна, щеки, эмаль);</span><br>
                    <span>нет ограничений по питанию;</span><br>
                    <span>гипоаллергенность (нет металлических элементов);</span><br>
                    <span>можно одновременно носить конструкцию и лечить зубы.</span>
                </p>
            </div>

        </div>
    </div>

    {% include "parts/top_five.html" %} {% include "parts/repair_rep.html" %} {% include "parts/care.html" %} {% include "parts/repair_veneer.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {%
    include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/deduction.html" %} {% include
    "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>