<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/pediatric_dentistry/dental_treatment.png');">
                    <div>
                        <h2>
                            Лечение зубов
                        </h2>
                        <div class="swiper-body">
                            <ul>
                                <li>Лучшие специалисты</li>
                                <li>Европейский подход к лечению</li>
                                <li>Доступные цены</li>
                            </ul>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Признаки наличия кариеса зубов</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if1.png" alt="">
                        <h4>На поверхности зубов появляются белые или темные точки и пятнышки</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if2.png" alt="">
                        <h4>Во время еды или питья зубы начинают ныть</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if3.png" alt="">
                        <h4>Поверхность поврежденного зуба становится шероховатой</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if4.png" alt="">
                        <h4>Появляется неприятный запах изо рта</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Лечение кариеса у детей</h2>
                <p style="max-width: 675px">
                    Лечение кариеса молочных зубов - одно из самых приоритетных направлений детской стоматологии, поскольку оно направлено на сохранение зубной единицы. Кариес – это патологический процесс, который приводит к размягчению зубной эмали, а затем к разрушение
                    коронки и корня зуба. Данное заболевание является инфекционным, а потому может переходить с молочных зубов на постоянные.<br><br> Основные причины развития заболевания – это недостаток кальция, неправильное питание,
                    недостаточная гигиена полости рта, различные хронические заболевания. Очень важно постоянно контролировать полость рта ребенка, регулярно посещать врача-стоматолога и проводить профессиональную гигиену полости рта и фторирование зубов,
                    чтобы обнаружить кариес на ранней стадии и, при необходимости, сделать герметизацию фиссур.
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex1.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Основные причины образования<br> кариеса у детей</h2>
                <p style="max-width: 745px">
                    <span>патологические изменения в процессе закладки зубов в первом триместре беременности (инфекционные заболевания, стрессы, курение, несбалансированное питание, прием некоторых лекарств, тяжелый токсикоз);</span><br>
                    <span>вирусные болезни тяжелого течения, перенесенные в первые месяцы жизни;</span><br>
                    <span>неправильно сформированный прикус;</span><br>
                    <span>генетическая предрасположенность;</span><br>
                    <span>плохая гигиена полости рта;</span><br>
                    <span>несбалансированное питание (сладкое и углеводы способствует развитию патогенных микроорганизмов);</span><br>
                    <span>недостаток микроэлементов, приводящий к деминерализации (фтора, кальция, отвечающих за целостность эмали);</span>
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex2_1.png" alt=" ">
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly exactly_flex">
            <img src="./images/pediatric_dentistry/ex10.png" alt=" ">
            <div class="exactly-header exactly-header2" style="padding: 0;">
                <h2>Виды кариеса у детей</h2>
                <p style="max-width: 675px">
                    <b>Апроксимальный</b><br> Это кариес зубов, вступающие в контакт при смыкании зубных рядов или между молярами.<br><br>

                    <b>Пришеечный</b><br> Это кариес зубов образуется в месте соприкосновения нижней части моляра с мягкими тканями десны, нередко процесс уходит внутрь.<br><br>

                    <b>Циркулярный</b><br> Это кариес зубов, распространяющийся вдоль всей линии девны, опоясывая зуб. Данный вид кариеса часто приводит в выпадению коронковой части зуба.<br><br>

                    <b>Фиссурный</b><br> Это кариес зубов поражает бороздки на поверхности жевательных зубов. Является самым распространенным видом кариеса у детей. Для профилактики может потребоваться процедура герметизации фиссур.
                </p>
            </div>

        </div>
    </div> {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %}
    {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include
    "parts/footer.html" %}
</body>

</html>