<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/pediatric_dentistry/frenectomy.png');">
                    <div>
                        <h2>
                       Пластика<br> уздечки губы
                        </h2>
                        <div class="swiper-body">
                           <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Доступные цены
                            </p>
                           
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    {# Добавить блок ДОБАВИТЬ #}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Пластика уздечки губы детям</h2>
                <p style="max-width: 675px">
                   Пластика уздечки губы – хирургическая процедура, представляющая собой подрезание уздечки верхней губы. Уздечкой называется складка слизистой оболочки полости рта, обеспечивающая дополнительное крепление губы к челюсти. Как правило, эта операция проводится по направлению от логопеда или ортодонта.<br><br>

Уздечка считается нормально расположенной, если расстояние от ее вплетения в десну и шейками передних зубов составляет 5-8 мм. Низкое крепление или захождение за центральные резцы, при котором ее не видно, указывает на то, что уздечка слишком короткая. Такое размещение нередко сопровождается диастемой – образованием щели между зубами. Обнаружить патологию можно при визуальном осмотре.
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex3.png" alt=" ">
        </div>
    </div>
     {% include "parts/form_ortodont.html" %}
      <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Виды пластики уздечки верхней/<br>нижней губы у детей</h2>
                <p style="max-width: 745px">
                      Врачи выполняют подрезание уздечки верхней и нижней губы различными способами, выбор которых зависит от возраста ребенка, показаний и особенностей анатомического строения ротовой полости. В арсенале хирургов имеются следующие методики:<br><br>
                    <span><b>френотомия:</b> простое рассечение кожной складки, которое наиболее эффективно при ее недостаточной длине;</span><br><br>
                    <span><b>френулопластика:</b> пво время этой операции уздечка рассекается разрезом в виде буквы Y или Z и заново сшивается; одновременно корректируется место прикрепления складки слизистой;</span><br><br>
                    <span><b>френэктомия:</b> используется при избыточной ширине уздечки; суть вмешательства заключается в удалении лишних тканей с последующим наложением швов.</span>
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex2_2.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %}
    {% include "parts/care.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/form_ziro.html" %}
    {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/deduction.html" %}
    {% include "parts/price_crown_tabl.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>