<!DOCTYPE html>
<html lang='ru'>

{% include "parts/head.html" %}

<body>

    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>

    <div class="wrapper">
        {% include "parts/header.html" %}

        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/implants/slider_1.png');">
                    <div>
                        <h2 class="implants_h2">
                            Установим имплант зуба <br> с пожизненной гарантией.<br> <span
                                class="implants_title_banner">Всего за 22 000 руб. <s class="implants_s_banner">30
                                    000руб</s></span>

                        </h2>

                        <div class="swiper-body" style="max-width: 840px;">
                            <p class="implants_p">Все включено, никаких скрытых платежей! Имплант + работа + швы +
                                последующие осмотры. Бесплатная консультация с планом лечения + снимок.</p>

                            <div class="timer_cont">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>
                                <p class="timer_p">Ответьте на 5 вопросов и получите точную цену!</p>
                            </div>

                            <button class="swiper-button discount_btn" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>

        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/teeth.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без болей с качественной</span><br> анестезией
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>
            <div class="experience__item ">
                <div class="experience__column ">
                    <img src="./images/experience/trophy.png " alt=" ">
                </div>
                <div class="experience__column ">
                    <p><span>Врачи с опытом</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cases ">
        <div class="wrapper ">
            <div class="readings_flex">
                <div class="readings_titile">
                    <h2>Показания к имплантации</h2>
                    <p>Врач может назначить установку для решения следующих проблем:</p>
                </div>
                <div class="readings_content">
                    <div class="readings_box r_box">
                        <img src="./images/implants/readings_1.svg" alt="">
                        <p>Если отсутствует 1 зуб</p>
                    </div>
                    <div class="readings_box">
                        <img src="./images/implants/readings_2.svg" alt="">
                        <p>Отсутствует несколько<br> элементов подряд</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="good_method ">
            <h2 style="text-align: center;">Показания к имплантации All-on-4 \ All-on-6</h2>
            <div class="good_method_flex ">
                <div class="good_method_box ">
                    <img src="./images/all-on-4/jaw.png " alt=" ">
                    <p>При полной адентии</p>
                </div>
                <div class="good_method_box ">
                    <img src="./images/all-on-4/jaw2.png " alt=" ">
                    <p>При частичной адентии</p>
                </div>
                <div class="good_method_box ">
                    <img src="./images/all-on-4/jaw3.png " alt=" ">
                    <p>При концевых дефектах</p>
                </div>
            </div>
            <a href="./all-on-4.html">
                <button class="red_btn">Перейти к All-on-4\all-on-6</button>
            </a>
        </div>
    </div>
    <div class="care ">
        <div class="wrapper ">
            <h2>
                Что такое Имплантация?
            </h2>
            <p class="core_p_title">— это несъемное восстановление зуба при котором в кость челюсти вживляется имплант,
                имитирующий корень зуба. На него сверху надевается коронка из диоксида циркония.</p>

            <div class="care-grid grid ">
                <div class="care__column care__column_implants">
                    <img src="./images/implants/fa_core.svg " alt=" ">
                    <h4>
                        Потребуется всего несколько посещений
                    </h4>

                    <p>1. Диагностика полости рта.<br> 2. Бесплатная консультация имплантолога. <br>3. Установка
                        импланта, которая займёт не более 20минут. <br>4. Установка формирователя десны.<br> 5.
                        Закрепление коронки, изготовленной по индивидуальным
                        параметрам пациента.
                    </p>


                </div>
                <div class="care__column care__column_implants">
                    <img src="./images/implants/fa_core2.svg" alt=" ">
                    <h4>
                        Оправданное вложение средств
                    </h4>

                    <p>При правильной установке и должном уходе импланты можно носить всю жизнь. За ними требуется
                        простой уход, который ничем не отличается от обычной гигиены полости рта. Если возникнет
                        необходимость - заменяется только коронка, а вживленная
                        в десну часть остается.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="rel_bg ">
        <div class="wrapper ">
            <div class="reliability ">
                <div class="reliability_side reliability_implants">
                    <h2>Насколько это надежно?</h2>


                    <div class="reliability_box ">
                        <div><img src="./images/all-on-4/fa_11.svg " alt=" "></div>
                        <p> Имплант с коронкой не требует особого ухода</p>
                    </div>
                    <div class="reliability_box ">

                        <div><img src="./images/implants/fa_rel_one.svg" alt=" "></div>
                        <p>Установка имплантата возможна сразу после удаления зуба</p>
                    </div>
                    <div class="reliability_box ">
                        <div><img src="./images/implants/fa_rel_two.svg" alt=" "></div>
                        <p>Экономия денег за счёт долговечности конструкции</p>
                    </div>
                    <div class="reliability_box ">
                        <div><img src="./images/implants/fa_rel_three.svg " alt=" "></div>
                        <p>Импланты не доставляет вообще никакого дискомфорта</p>
                    </div>
                    <div class="reliability_box ">
                        <div><img src="./images/all-on-4/fa_14.svg " alt=" "></div>
                        <p>Металлические стержни изготавливаются из титана</p>

                    </div>
                    <button type="submit " class="red_btn consul_btn "
                        onclick="openModal('form-modal-callback')">Получить консультацию</button>
                </div>
                <img src="./images/implants/img_rel.png " alt=" ">
            </div>
        </div>
    </div>
    {% include "parts/repair_one.html" %}
    <div class="wrapper">
        <div class="consultation_form implant_shum ">
            <div>
                <h2>Честная рассрочка<br> от Доктора Шумаева</h2>
                <p>Лечись сейчас - платите потом</p>


                <button type="submit" class="red_btn " onclick="openModal('form-modal-instal')">Узнать подробее</button>
            </div>
            <div class="shum_content">
                <div class="shum_box">
                    <div>
                        <h2>0</h2>
                        <h3>руб.</h3>
                    </div>
                    <p>Первоначальный взнос<br>
                        <span>0 рублей</span>
                    </p>
                </div>
                <div class="shum_box">
                    <div>
                        <h2>0</h2>
                        <h3>%</h3>
                    </div>
                    <p>Проценты<br>
                        <span>заплатим мы!</span>
                    </p>
                </div>
                <div class="shum_box">
                    <div>
                        <h2>24</h2>
                        <h3>мес</h3>
                    </div>
                    <p>Срок рассрочки<br>
                        <span>до 24 месяцев</span>
                    </p>
                </div>

            </div>


        </div>
    </div>

    {% include "parts/partners.html" %}




    {% include "parts/slider_doctors.html" %}
    {% include "parts/clients.html" %}


    {% include "parts/slider_rating.html" %}

    {% include "parts/price_warning.html" %}
    {% include "parts/deduction.html" %}

    {% include "parts/slider_clinic.html" %}
    {% include "parts/faq.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>