<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/orthodontics/invisible_braces.png');">
                    <div>
                        <h2>
                            Невидимые <br> брекеты
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Совсем не видны окружающим
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>В каких случаях ставят невидимые брекеты?</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/if52.png" alt="">
                        <h4>Сложные аномалии развития прикуса</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if38.png" alt="">
                        <h4>Скученность зубов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if53.png" alt="">
                        <h4>Выдвинутые, развернутые или неправильно расположенные зубы</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if54.png" alt="">
                        <h4>Значительные межзубные щели</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Невидимые брекеты</h2>
                <p style="max-width: 675px">
                    Невидимые брекеты - это ортодонтические конструкции, которые закрепляются на внутренней поверхности зубов. Их преимущество заключается во внутреннем расположении на зубном ряду. В таком случае брекет-системы практически незаметны для окружающих. Эти изделия
                    больше подходят при исправлении прикуса у подростков, взрослых и просто для тех, кто стремится к идеальной улыбке без установки внешних брекет-систем.<br><br> Невидимые брекеты еще называют лингвальными. Ортодонтические
                    изделия позволяют выровнять дефекты зубного ряда так же, как и при традиционной установке корригирующих элементов. Несмотря на желание пациента скрыть особенности ортодонтического лечения, лингвальные брекеты устанавливают по показаниям,
                    а также объясняют все плюсы и минусы.
                </p>
            </div>
            <img src="./images/orthodontics/ex4.png" alt=" ">
        </div>
    </div>
    {# Изменить иконки/отступы #}
    <div class="cases " style="margin-bottom: 100px;">
        <div class="wrapper ">
            <h2>Преимущества <br> металлических брекетов
            </h2>
            <div class="cases_flex_cont all-on-6_cases cases_flex_cont3">
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/33.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;">Не окрашиваются. Пейте кофе или чай в удовольствие</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/16.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;">Вызывают меньше дискомфорта</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/34.svg" alt=" ">
                        </div>
                        <p>Клипсы-фиксаторы смотрятся более эстетично
                        </p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/10.svg" alt=" ">
                        </div>
                        <p style="max-width: 320px;">Скользящие фиксаторы ускоряют процесс лечения на 20-30%</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/11.svg" alt=" ">
                        </div>
                        <p>Экономия времени. Поход<br> к врачу 1 раз в 2 месяца</p>
                    </div>



                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/8.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;">Легкий уход за полостью рта<br> из-за отсутствие лигатур</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Классификация и виды</h2>
                <p style="max-width: 675px">

                    <b>По способу фиксации.</b> Лингвальные брекеты бывают лигатурными с резиночками или крючками и безлигатурными (саморегулирующими) с клипсой. Особенность последних заключается в возможности самокоррекции по ходу изменения положения
                    единиц;
                    <br><br>

                    <b>По способу изготовления.</b> Существуют стандартные лингвальные брекеты, которые не требуют лабораторного этапа разработки, и индивидуальные с учетом особенностей зубов. Индивидуальные лингвальные приспособления изготавливают дольше
                    при помощи 3D сканера;<br><br>

                    <b>По локализации крепления на челюстной дуге.</b> Лингвальные брекеты устанавливают на верхней или нижней челюсти. Стоматологи рекомендуют устанавливать лингвальные изделия на верхнюю челюсть, если при улыбке она обнажается более
                    всего. При необходимости коррекции обеих челюстей, возможна установка стандартных установок на нижнюю челюсть и невидимых брекетов на верхнюю челюсть.

                </p>
            </div>
            <img src="./images/orthodontics/ex2_4.png" alt=" ">
        </div>
    </div>
    <div class="care care2">
        <div class="wrapper">
            <h2>Этапы лечения
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_5.png" alt="">
                    <h3>Диагностика</h3>
                    <p>Осмотр ортодонта, рентгеновские исследования (ортопантомограма, 3d-томография), снятие слепка для изготовления модели челюсти, ортопедического аппарата.</p>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_6.png" alt="">
                    <h3>Подготовка </h3>
                    <p>Поставить лингвальную брекет-систему можно только на подготовленную поверхность. Проводится гигиеническая чистка (снятие твердых, мягких назубных отложений), лечение зубов, десен. </p>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_7.png" alt="">
                    <h3>Установка </h3>
                    <p>Конструкцию фиксируют непрямым методом. Сначала врач крепит брекеты к трехмерной модели, наносит адгезивный материал (бонд), одномоментно переносит пластинки на зубной ряд. В зависимости от типа модели (самолигирующая или лигатурная)
                        проводят и фиксируют дугу. </p>
                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">4</div>
                    <img src="./images/index/care_4.png" alt="">
                    <h3>Снятие брекетов </h3>
                    <p>По окончании лечения, ортодонт снимает замочки, шлифует, минерализует эмаль и устанавливает ретейнер – для закрепления полученного результата.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/form_ortodont.html" %} {% include "parts/repair_rep.html" %} {% include "parts/care.html" %} {% include "parts/repair_veneer.html" %} {% include "parts/review.html" %} {% include "parts/clients.html"
    %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/price_crown_tabl.html" %} {% include
    "parts/deduction.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>