<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/aesthetic_dentistry/lumineers.png');">
                    <div>
                        <h2>
                            Люминиры
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Срок службы: 20 и более лет
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Полная имитация цвета, блеска живой эмали
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>В каких случаях ставят люминиры?</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/if61.png" alt="">
                        <h4>Темные пятна на зубах</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if38.png" alt="">
                        <h4>Смещение и скученность зубов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if62.png" alt="">
                        <h4>Сколы и неровности зубной поверхности</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if54.png" alt="">
                        <h4>Диастемы (щели между зубами)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Люминиры — что это?</h2>
                <p style="max-width: 675px">
                    Представляют собой ультратонкие накладки на зубы толщиной 0,3 мм, которые помогают устранить несовершенства улыбки и сделать её безупречной.<br><br> Мало кому известно, что слово «люминиры» возникло из названия бренда и стало именем
                    нарицательным. Настоящие накладки выпускаются в США компанией Lumineers. Мы можем выполнить их установку, но это затратно и не удобно для пациентов, так как они изготавливаются по шаблонам без учёта персональных особенностей улыбки.
                </p>
            </div>
            <img src="./images/aesthetic_dentistry/ex1.png" alt=" ">
        </div>
    </div>
    {# Изменить иконки/отступы #}
    <div class="cases " style="margin-bottom: 100px;">
        <div class="wrapper ">
            <h2>Преимущества люминиров </h2>
            <div class="cases_flex_cont all-on-6_cases cases_flex_cont3">
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/21.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;">Неинвазивность<br> (устанавливаются без обточки)</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/19.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;">Долговечность</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/20.svg" alt=" ">
                        </div>
                        <p>Безопасность и прочность</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/3.svg" alt=" ">
                        </div>
                        <p style="max-width: 320px;">Быстрое удаление или замена</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/18.svg" alt=" ">
                        </div>
                        <p style="max-width: 240px;">Естественность</p>
                    </div>



                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/cases/icons/9.svg" alt=" ">
                        </div>
                        <p style="max-width: 300px;">Безболезненность<br> установки</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly exactly2 exactly_flex">
            <img src="./images/surgery/ec8.png" alt=" ">
            <div class="exactly-header exactly-header2" style="padding: 0;">
                <h2>Чем люминиры отличаются от виниров</h2>
                <p style="max-width: 675px">
                    Виниры, как и люминиры, устанавливают на зубы с эстетической целью – скрыть дефекты, изменить цвет или форму зубов. Так в чем же разница? Во-первых, люминиры почти в два раза тоньше виниров, поэтому для их установки не требуется обточка.<br><br>

                    <b>Дополнительные преимущества люминиров:</b><br><br>

                    <span>Нет необходимости обтачивать здоровые зубы.</span><br>
                    <span>Установка люминиров не требует обезболивания, совершенно безболезненна.</span><br>
                    <span>Высокая прочность. Риск возникновения трещин и сколов на поверхности люминиров очень мал – это свойство полностью оправдывает стоимость люминиров.</span><br>
                    <span>Обратимость процесса: при желании люминиры можно снять без какого-либо вреда для зубов.</span>
                </p>
            </div>

        </div>
    </div>
    {% include "parts/form_ortodont.html" %} {% include "parts/top_five.html" %} {% include "parts/repair_one.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {%
    include "parts/price_warning.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %}
    <div class="care">
        <div class="wrapper">
            <h2>Как проходит установка?
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_5.png" alt="">
                    <h3>Осмотр и лечение при наличии стоматологических заболеваний, которые являются противопоказаниями к установке</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_6.png" alt="">
                    <h3>Подбор подходящего оттенка материала</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_7.png" alt="">
                    <h3>Снятие слепков для изготовления протезов</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">4</div>
                    <img src="./images/index/care_4.png" alt="">
                    <h3>Закрепление изготовленных пластин при помощи специального клея</h3>

                </div>
            </div>
        </div>
    </div>
    {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>