<!DOCTYPE html>
<html lang='ru'>
<!-- {% include "parts/head.html" %} -->

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/prosthetics/nylon_prostheses.png');">
                    <div>
                        <h2>
                            Нейлоновые<br>протезы
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Незаметная для окружающих, легкая и
                                комфортная конструкция
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Нейлон не обладает токсическим
                                действием, не вызывает аллергии
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    {# Добавить блок ДОБАВИТЬ #}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Нейлоновый протез</h2>
                <p style="max-width: 780px">
                    инновационная разновидность съемной конструкции, которая применяется в ортопедической стоматологии
                    для протезирования зубов. Материалом здесь служит гибкий дентальный нейлон, хорошо имитирующий цвет
                    и структуру естественных тканей зубов и десен, благодаря чему присутствие во рту нейлонового протеза
                    почти незаметно.<br><br>
                    Протезирование нейлоновыми конструкциями проводится как при частичной, так и при полной адентии.
                    Цена съемного нейлонового протеза в разных клиниках Москвы различается, но в любом случае при
                    отсутствии большого количества зубов этот вид протезирования обойдется дешевле, чем стоимость
                    полного восстановления зубного ряда керамическими или циркониевыми коронками.
                </p>
            </div>
            <img src="./images/prosthetics/ex15.png" alt=" ">
        </div>
    </div>

    {# Изменить иконки/отступы #}
    <div class="cases " style="margin-bottom: 100px;">
        <div class="wrapper ">
            <h2>Преимущества нейлоновых протезов</h2>
            <div class="cases_flex_cont all-on-6_cases">
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_1.svg " alt=" ">
                        </div>
                        <p style="max-width: 300px;">Великолепно имитируют натуральные зубы</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_2.svg " alt=" ">
                        </div>
                        <p style="max-width: 240px;">Безопасны</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_4.svg " alt=" ">
                        </div>
                        <p>Комфортны</p>
                    </div>
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_5.svg " alt=" ">
                        </div>
                        <p style="max-width: 320px;">Практичны и надежны</p>
                    </div>

                </div>
                <div class="cases_flex_side ">
                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_3.svg " alt=" ">
                        </div>
                        <p style="max-width: 240px;">Универсальны</p>
                    </div>



                    <div class="cases_flex_box ">
                        <div class="cases_flex_img ">
                            <img src="./images/all-on-4/fa_6.svg " alt=" ">
                        </div>
                        <p style="max-width: 300px;">Просты в уходе</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "parts/form_ortodont.html" %}

    {% include "parts/top_five.html" %}
    {% include "parts/care.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/deduction.html" %}
    {# Добавить блок ДОБАВИТЬ #}
    {% include "parts/price_crown_tabl.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>