<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/turnkey_impl/os_i_bg1.png');">
                    <div>
                        <h2>
                            Одномоментная<br> имплантация
                        </h2>

                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Без болевого эффекта и неприятных воспоминаний
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Современные методики имплантации
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Виды одномоментной имплантации</h2>
                    <p>В зависимости от результатов обследования и состояния здоровья пациента имплантолог выбирает один из трех вариантов протокола одномоментной имплантации:</p>
                </div>
                <div class="info_care_cont">
                    <div class="ic_cart ic_cart_text">

                        <h4>С немедленной нагрузкой</h4>
                        <p>Установленный имплантат сразу же нагружается временной коронкой. Она меняется на постоянную после приживления титанового стержня.</p>
                    </div>
                    <div class="ic_cart ic_cart_text">
                        <h4>С отсроченной нагрузкой</h4>
                        <p>После установки искусственного корня ушивается десна. После срастания имплантата с костной тканью фиксируется постоянный протез.</p>
                    </div>
                    <div class="ic_cart ic_cart_text">
                        <h4>С установкой формирователя десны</h4>
                        <p>Вживленный имплантат накрывается формирователем десны, служащего опорным каркасом для формирования мягких тканей.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Еще о методике</h2>
                <p style="max-width: 809px">
                    Процесс остеоинтеграции («приживления») имплантата можно сравнить с срастанием костей после перелома, где главным условием является - неподвижность. Поэтому при одномоментной имплантации важно получение достаточной механической стабильности имплантата
                    в костном ложе. Чтобы за период остеоинтеграции (2 месяца) имплантат сохранял неподвижность, несмотря на давление языка и пищевого комка.
                    <br><br> Рекомендации после одномоментной имплантации практически ничем не отличаются от рекомендации после удаления зуба. И беспокоит в таких случаях больше лунка удаленного зуба, нежели сам имплантат. Многие пациенты сегодня выбирают
                    одномоментную имплантацию, потому что это всего одна операция и это отсутствие разрезов, отеков и швов. А получение более быстрого результат и иногда минуя сложные костно-пластические операции.
                </p>
            </div>
            <img src="./images/implantation/exactly_flex3.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="implant_benefits">
        <div class="wrapper">
            <h2>Преимущества <br> одномоментной имплантации
            </h2>
            <div class="implant_benefits_container">
                <div class="implant_benefits_cont">
                    <div class="imp_benefits_box_cont imp_benefits_box_cont2">
                        <div class="imp_ben_box">
                            <img src="./images/implantation/4.svg" alt=" ">
                            <div>
                                <h5>Уменьшаем травматичность</h5>
                                <p>отсутствие разрезов и швов</p>
                            </div>
                        </div>
                        <div class="imp_ben_box">
                            <img src="./images/implantation/5.svg" alt=" ">
                            <div>
                                <h5>Выигрываем время</h5>
                                <p>удаление зуба, установка имплантата и формирователя десны в один приём</p>
                            </div>
                        </div>
                    </div>
                    <div class="imp_benefits_box_cont imp_benefits_box_cont2">
                        <div class="imp_ben_box">
                            <img src="./images/implantation/6.svg" alt=" ">
                            <div>
                                <h5>Упрощенный хирургический протокол</h5>
                                <p>избегаем сложных костно-пластических операций</p>
                            </div>
                        </div>
                        <div class="imp_ben_box">
                            <img src="./images/exactly/2.svg" alt=" ">
                            <div>
                                <h5>Короткий реабитационный период</h5>
                                <p>нет надобности отслаивания десны и как следствие отсутствие отеков.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="implant_benefits_img" src="./images/implantation/ex_flex_1.png">
            </div>
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/slider_turnkey.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html"
    %} {% include "parts/slider_rating.html" %} {% include "parts/care_five.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/price_implant_tabl.html" %} {% include "parts/deduction.html" %} {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>