<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/orthodontics/orthodontic_correction.png');">
                    <div>
                        <h2>
                            Ортодонтические<br> пластинки для<br> исправления прикуса
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Удобство использования. Легко снимаются и не<br> доставляют дискомфорта
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Какие проблемы решает стоматолог-ортодонт?</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/if74.png" alt="">
                        <h4>Необходимость изменения форм челюстей</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if72.png" alt="">
                        <h4>Фиксация зубного ряда в определенном положении</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if75.png" alt="">
                        <h4>Смена положения клыков, резцов или других зубов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if76.png" alt="">
                        <h4>Изменение формы или размеров неба</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Ортодонтические пластинки<br> для исправления прикуса</h2>
                <p style="max-width: 675px">
                    Ортодонтические пластинки для зубов для исправления прикуса - это съемные конструкции, наиболее эффективные в период роста челюстей. Ортодонтические пластинки – это специальные устройства, предназначенные для коррекции нарушений прикуса. Они изготавливаются
                    из мягкой пластмассы и металлической проволоки определенной толщины и состоят из трех базовых элементов: жесткой и прочной пластмассовой основы, дуги и крючков для крепления к резцам и специального «ключа», с помощью которого активируется
                    пластина. Терапевтический эффект реализуется за счет постепенного смещения зубного ряда.
                </p>
            </div>
            <img src="./images/orthodontics/ex11.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %} {% include "parts/top_five.html" %} {% include "parts/repair_rep.html" %} {% include "parts/care.html" %} {% include "parts/repair_veneer.html" %} {% include "parts/review.html" %} {% include "parts/clients.html"
    %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {% include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %}
    <div class="care">
        <div class="wrapper">
            <h2>Этапы ортодонтического лечения
            </h2>

            <div class="care_gap2">
                <div class="care_box care_box2">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_5.png" alt="">
                    <h3>Анализ прикуса</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_6.png" alt="">
                    <h3>Изготовление слепков</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_7.png" alt="">
                    <h3>Работы по моделированию проце сса лечения, изготовление моделей челюстей</h3>

                </div>
                <div class="care_box care_box2">
                    <div class="counsult_number">4</div>
                    <img src="./images/index/care_4.png" alt="">
                    <h3>Фаза примерки и фиксации изделия</h3>

                </div>
            </div>
        </div>
    </div>
    {% include "parts/price_crown_tabl.html" %} {% include "parts/deduction.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>