<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/orthodontics/orthodontist.png');">
                    <div>
                        <h2>
                          Врач ортодонт
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Гарантия лучшей цены
                            </p>
                            
                           
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    {# Добавить блок ДОБАВИТЬ #}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Кто такой стоматолог-<br>ортодонт?</h2>
                <p style="max-width: 675px">
Ортодонт в стоматологии – это специалист узкого профиля, который занимается коррекцией положения зубов в ротовой полости и исправлением аномального прикуса. Для этого он использует различные методики, инструменты и материалы. Еще одно важное направление его работы – подготовка к протезированию, лечение бруксизма или ВНЧС, профилактика нарушений прикуса и предотвращение появления повторных дефектов и т.д.<br><br>

Да, это именно тот врач, который ставит пластинки, брекеты и выравнивает зубы. Но это только часть его работы. Основная задача стоматолога-ортодонта заключается в том, чтобы исправить врожденные или приобретенные дефекты прикуса и устранить причины, которые к ним привели.
                </p>
            </div>
            <img src="./images/orthodontics/ex10.png" alt=" ">
        </div>
    </div>
     {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header exactly-header_num" style="padding: 0;">
                <h2>Какие проблемы решает<br> стоматолог-ортодонт?</h2>
                <p style="max-width: 766px">
            Большинство пациентов этого специалиста – люди, имеющие психологический дискомфорт от состояния своих зубов, который отражается на работе нервной системы и внутренних органов. Если улыбка не радует, приводит к стеснительности и замкнутости, нужно немедленно записываться на консультацию к стоматологу.<br><br>

            <b>Все проблемы, которые решает ортодонт, можно условно разделить на три группы:</b><br><br>
            <span>Врожденные. Чаще всего такие проблемы возникают в раннем возрасте или на стадии развития плода в результате сбоев в развитии зубочелюстной системы.</span><br>
            <span>Наследственные. Неправильный прикус, широкие межзубные промежутки, скученность зубов и другие дефекты многие дети получают от своих родителей.</span><br>
            <span>Приобретенные. Такие проблемы возникают в результате вредных привычек, например, при засыпании ребенка с пальцем во рту.</span>
            
                </p>
            </div>
            <img src="./images/orthodontics/ex10.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %}
   
    {% include "parts/repair_rep.html" %}
    {% include "parts/care.html" %}
    {% include "parts/repair_veneer.html" %}
    {% include "parts/review.html" %}
    {% include "parts/clients.html" %}
    {% include "parts/create.html" %}
    {% include "parts/price_warning.html" %}
    {% include "parts/form_ziro.html" %}
    {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %}
    {% include "parts/price_crown_tabl.html" %}
    {% include "parts/deduction.html" %}
    {% include "parts/slider_clinic.html" %}
    {% include "parts/popup.html" %}
    {% include "parts/footer.html" %}
</body>

</html>