<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/pediatric_dentistry/pediatric_hygiene.png');">
                    <div>
                        <h2>
                            Профессиональная<br> гигиена
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">С помощью чистки достигают 100 % удаления камня и налета
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Чистка зубов от налета детям необходима, если</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if13.png" alt="">
                        <h4>Есть мягкий или твердый зубной налет</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if14.png" alt="">
                        <h4>Есть отложения зубного камня</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if15.png" alt="">
                        <h4>Есть воспалительные заболевания десен</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if16.png" alt="">
                        <h4>В качестве профилактики различных стоматологических заболеваний</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Профессиональная гигиена<br> детских зубов</h2>
                <p style="max-width: 675px">
                    Чистка зубов является самой распространенной процедурой, направленной на профилактику кариеса и иных заболеваний полости рта. Необходимо с раннего возраста приучать детей к регулярной, тщательной и, главное, правильной чистке зубов.<br><br>                    Гигиена детских зубов начинается с момента появления первого зубика. Сначала полость рта очищают при помощи специальных мягких щеток для грудничков, без использования зубных паст. До 2–2.5 лет уход за зубами полностью лежит на плечах
                    родителей, затем ребенок постепенно начинает самостоятельно чистить зубки — важно научить его делать это правильно и обеспечить подходящими средствами по уходу за полостью рта. Наши детские стоматологи подберут индивидуально зубную
                    щетку и пасту в зависимости от возраста ребенка.
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex4.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Как проводится процедура?</h2>
                <p style="max-width: 745px">
                    Профессиональная чистка детских зубов необходима при низкой гигиене полости рта, а также перед проведением терапевтического лечения. Врач оценивает уровень гигиены и определяет, каких методов чистки будет достаточно. Как правило, стоматолог очищает налет
                    с помощью специальных щеток и паст, освобождает межзубные промежутки от скопившихся остатков пищи и налета при помощи флосса. Если зубы ребенка находятся в запущенном состоянии, может потребоваться аппаратная чистка.<br><br>                    Затем стоматолог полирует зубы — их поверхность становится идеально гладкой, бактериям становится трудно удержаться на зубах, — вероятность развития кариеса заметно снижается. Завершают процедуру нанесением укрепляющих гелей или лаков.
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex2_3.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>