<!DOCTYPE html>
<html lang='ru'>
    {% include "parts/head.html" %}
    <body>
        <div class="pre-nav">
            <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
            </h3>
        </div>
        <div class="wrapper">
            {% include "parts/header.html" %}
            <div class="swiper swiper-header swiper-usual">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('./images/prosthetics/porce_crow_bg.png');">
                        <div> 
                            <h2>
                             Керамические<br> коронки
                            </h2> 
                            <div class="swiper-body">
                                <p class="swiper-body-description sw_body_turnkey">
                                    <img src="./images/brackets/slider/mark.svg" alt="">Возможность установки на сохранившуюся часть зуба
                                </p>
                                <p class="swiper-body-description sw_body_turnkey">
                                    <img src="./images/brackets/slider/mark.svg" alt="">Устойчивость к высокой нагрузке
                                </p>
                                 
                                <div class="swiper-timer-container">
                                    <div class="swiper-timer">
                                        <div class="swiper-timer__item">
                                            <h5>34</h5>
                                            <p>часов</p>
                                        </div>

                                        <div class="swiper-timer__item">
                                            <h5>19</h5>
                                            <p>минут</p>
                                        </div>

                                        <div class="swiper-timer__item">
                                            <h5>05</h5>
                                            <p>секунд</p>
                                        </div>
                                    </div>

                                    <p class="swiper-timer-desc">
                                        Ответьте на 5 вопросов и получите точную цену!
                                    </p>
                                </div>

                                <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <img src="./images/products/arrow-slider-products-left.svg" alt="">
                </div>
                <div class="swiper-button-next">
                    <img src="./images/products/arrow-slider-products-right.svg" alt="">
                </div>
            </div>
            <div class="experience">
                 <div class="experience__item">
                    <div class="experience__column">
                        <img src="./images/experience/hand.png" alt="">
                    </div>
                    <div class="experience__column">
                        <p><span>Без скрытых комиссий.</span>
                            <br>Все включено.
                        </p>
                    </div>
                </div>

                <div class="experience__item">
                    <div class="experience__column">
                        <img src="./images/experience/like.png" alt="">
                    </div>
                    <div class="experience__column">
                        <p><span>Брекеты не окрашиваются</span>
                            <br>и не влияют на вкус!
                        </p>
                    </div>
                </div>

                <div class="experience__item">
                    <div class="experience__column">
                        <img src="./images/experience/group.png" alt="">
                    </div>
                    <div class="experience__column">
                        <p><span>3645 пациентов</span>
                            <br>уже доверились нам
                        </p>
                    </div>
                </div>

                <div class="experience__item">
                    <div class="experience__column">
                        <img src="./images/experience/trophy.png" alt="">
                    </div>
                    <div class="experience__column">
                        <p><span>Врачи с опытос</span>
                            <br>15+ лет
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {# Добавить блок ДОБАВИТЬ #}
        <div class="wrapper ">
            <div class="exactly  exactly_flex">
                <div class="exactly-header " style="padding: 0;">
                    <h2>Керамические коронки </h2>
                    <p style="max-width: 675px">
                        Начнем с основ. Коронки на зубы – что это такое, в принципе, и зачем они нужны? Это способ восстановления разрушенного зуба, когда на большее надеяться не приходится. Смысл в том, чтобы вернуть зубу изначальную форму и помочь ему выполнять свою основную функцию.<br><br>
                        Неснимаемый зубной протез представляет собой одиночный элемент, как бы колпачок. Создается он в специальной зуботехнической лаборатории, причем по оттискам зуба конкретного человека. Не бывает стандартных, подходящих всем протезов – каждый производится по индивидуальным меркам, после чего закрепляется на зубе. Это замещение видимой части зуба.<br><br>
                        Когда нужно ставить коронки на зубы? В трех случаях – когда коронковая часть зуба:<br>
                        <span>Значительно повреждена, разрушена на 70-80 процентов.</span>
                        <span>Отсутствует в принципе.</span>
                        <span>Обладает эстетическим дефектом.</span><br>
                        В этих случаях не идет речь об установке пломбы или микропротезировании вкладкой, так как подобные, менее радикальные способы банально не смогут гарантировать равномерное распределение жевательной нагрузки. Следовательно, зуб, который получает большее и неоптимальное давление, просто расколется и будет удален вовсе.
                    </p>
                </div>
                <img src="./images/prosthetics/ex3.png" alt=" ">
            </div>
        </div>
        {% include "parts/form_ortodont.html" %}
        {# Добавить Слайдер ДОБАВИТЬ #}
        {% include "parts/top_five.html" %}
        {% include "parts/care.html" %}
        {% include "parts/review.html" %}
        {% include "parts/clients.html" %} 
        {% include "parts/create.html" %}
        {% include "parts/price_warning.html" %}
        {% include "parts/slider_rating.html" %}
        {% include "parts/slider_doctors.html" %}
        {# Добавить блок ДОБАВИТЬ #}
        {% include "parts/price_implant_tabl.html" %}
        {% include "parts/deduction.html" %}
        {% include "parts/slider_clinic.html" %} 
        {% include "parts/popup.html" %} 
        {% include "parts/footer.html" %}
    </body>

    </html>