<!DOCTYPE html>
<html lang='ru'>

{% include "parts/head.html" %}

<body>

    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной
            консультации
        </h3>
    </div>

    <div class="wrapper">
        {% include "parts/header.html" %}

    </div>
    <div class="wrapper">
        <div class="services">
            <div class="serivces__row">
                <div class="services__column">
                    <div class="services__container services__container_separated-1">
                        <img src="./images/services/1.png" alt="">
                        <h3>Имплантация зубов</h3>
                        <a href="./turnkey_implants.html">Под ключ</a>
                        <a href="./complete_absence.html">При полном отсутствии</a>
                        <a href="./gum_augmentation.html">Одномоментная имплантация</a>
                        <a href="./all-on-4.html">All-on-4</a>
                        <a href="./all-on-6.html">All-on-6</a>
                        <a href="./one-step_implants.html">Одноэтапная имплантация</a>
                        <a href="./404.html">Наращивание десны</a>
                    </div>
                    <div class="services__container services__container_separated-2">
                        <img src="./images/services/2.png" alt="">
                        <h3>Лечение десен</h3>
                        <a href="./gingivitis_children.html">Лечение гингвита у детей</a>
                        <a href="./stomatitis_children.html">Лечение стоматита у детей</a>
                    </div>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/3.png" alt="">
                    <h3>Протезирование зубов</h3>
                    <a href="./implant_prosthetics.html">Протезирование на имплантах</a>
                    <a href="./metal-free_crowns.html">Безметалловые коронки</a>
                    <a href="./porcelain_crowns.html">Керамические коронки</a>
                    <a href="./404.html">Циркониевые коронки</a>
                    <a href="./ceramic_linings.html">Керамические накладки</a>
                    <a href="./dental_inlays.html">Культевые вкладки</a>
                    <a href="./removable_dentures.html">Съемное протезирование</a>
                    <a href="./non-removable.html">Несъёмное протезирование</a>
                    <a href="./dentures.html">Бюгельные протезы</a>
                    <a href="./bridges.html">Мостовидные протезы</a>
                    <a href="./prosthetics_without.html">Протезы без нёба</a>
                    <a href="./complete_absence.html">При полном отсутствии зубов</a>
                    <a href="./partially_absent.html">При частичном отсутствии зубов</a>
                    <a href="./crowns_front.html">Коронки на передние зубы</a>
                    <a href="./chewing_crowns.html">Коронки на жевательные зубы</a>
                    <a href="./nylon_prostheses.html">Нейлоновые протезы</a>
                    <a href="./cad_cam_modeling.html">CAD/CAM моделирование</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/4.png" alt="">
                    <h3>Ортодонтия</h3>
                    <a href="./brackets.html">Брекеты</a>
                    <a href="./metal_brackets.html">Металлические брекеты</a>
                    <a href="./ceramic_braces.html">Керамические брекеты</a>
                    <a href="./dental_adults.html">Выравнивание зубов у взрослых</a>
                    <a href="./fixed_non_removable.html">Несъемные аппараты для исправления прикуса</a>
                    <a href="./fixed_removable.html">Съемные аппараты для исправления прикуса</a>
                    <a href="./alf_appliance.html">Аппарат ALF для исправление прикуса</a>
                    <a href="./bionator_correction.html">Аппараты Бионатор для исправление прикуса</a>
                    <a href="./orthodontist.html">Врач ортодонт</a>
                    <a href="./orthodontic_correction.html">Ортодонтические пластинки для исправления прикуса</a>
                    <a href="./404.html">Добавить систему hh4, элйнеры (Inviziline, РФ)</a>
                    <a href="./sapphire_braces.html">Сапфировые брекеты</a>
                    <a href="./invisible_braces.html">Невидимые брекеты</a>
                    <a href="./404.html">Коррекция прикуса винирами</a>
                    <a href="./dental_braces.html">Без брекетов</a>
                    <a href="./404.html">Брекет-системы Damon</a>
                    <a href="./mini_braces.html">Брекеты Mini Diamond</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/5.png" alt="">
                    <h3>Лечение зубов</h3>
                    <a href="./caries_treatment.html">Лечение кариеса</a>
                    <a href="./deep_treatment.html">Лечение глубокого кариеса</a>
                    <a href="./cervical_caries.html">Пришеечный кариес</a>
                    <a href="./tooth_filling.html">Пломба на зуб</a>
                    <a href="./dental_pulpitis.html">Лечение пульпита</a>
                    <a href="./dental_canal.html">Лечение каналов зуба</a>
                    <a href="./anterior_treatment.html">Лечение передних зубов</a>
                    <a href="./treatment_microscope.html">Лечение под микроскопом</a>
                    <a href="./dental_restorations.html">Реставрация зубов</a>
                    <a href="./cyst_treatment.html">Лечение кисты зуба</a>
                    <a href="./404.html">Подготовка к лечению зубов</a>
                    <a href="./emergency_teeth.html">Экстренное лечение зубов</a>
                    <a href="./tartar_removal.html">Удаление зубного камня</a>
                    <a href="./ultrasonic_cleaning.html">Ультразвуковая чистка зубов</a>
                    <a href="./air_flow.html">Чистка зубов Air Flow</a>
                </div>

                <div class="services__column services__container">
                    <img src="./images/services/6.png" alt="">
                    <h3>Хирургия</h3>
                    <a href="./tooth_extraction.html">Удаление зубов</a>
                    <a href="./wisdom_extraction.html">Удаление зуба мудрости</a>
                    <a href="./cyst_treatment.html">Лечение кисты зуба</a>
                    <a href="./gingivitis_treatment.html">Лечение гингвита и пародонта</a>
                    <a href="./bone_grafting.html">Костная пластика</a>
                    <a href="./sinus_elevator.html">Синус-лифтинг</a>
                    <a href="./mandibular_hyperplasia.html">Гиперплазия нижней челюсти</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/7.png" alt="">
                    <h3>Детская стоматология</h3>
                    <a href="./dental_treatment.html">Лечение зубов</a>
                    <a href="./teeth_extraction.html">Удаление зубов</a>
                    <a href="./frenectomy.html">Пластика уздечки</a>
                    <a href="./pediatric_hygiene.html">Профессиональная гигиена</a>
                    <a href="./gum_children.html">Воспаление дёсен у детей</a>
                    <a href="./teeth_fluoridation.html">Фторирование зубов</a>
                    <a href="./teeth_fluoridation.html">Серебрение зубов</a>
                    <a href="./treatment_teeth.html">Лечение молочных зубов</a>
                    <a href="./bracket_children.html">Брекет-системы для детей</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/8.png" alt="">
                    <h3>Эстетическая стоматология</h3>
                    <a href="./lumineers.html">Люминиры</a>
                    <a href="./veneers.html">Установка виниров</a>
                    <a href="./composite_veneers.html">Композитные виниры</a>
                    <a href="./e-max.html">Виниры E-Max</a>
                    <a href="./404.html">Реставрация зубов композитом</a>
                    <a href="./ceramic_overlays.html">Керамические накладки</a>
                    <a href="./ultranaries.html">Ультраниры</a>
                    <a href="./nanonaries.html">Нанониры</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/9.png" alt="">
                    <h3>Отбеливание зубов</h3>
                    <a href="./zoom-4.html">Zoom 4</a>
                    <a href="./home_bleaching.html">Домашнее отбеливание</a>
                    <a href="./intracoronal_whitening.html">Внутрикоронковое отбеливание</a>
                    <a href="./professional_cleaning.html">Профессиональная чистка зубов</a>
                </div>

                <div class="services__column services__container">
                    <img src="./images/services/10.png" alt="">
                    <h3>Функциональная стоматология</h3>
                    <a href="./gnathology.html">Гнатология</a>
                    <a href="./anti_age_dentistry.html">Anti age стоматология</a>
                    <a href="./dentistry_and_posture.html">Стоматология и осанка</a>
                </div>
                <div class="services__column services__container">
                    <img src="./images/services/11.png" alt="">
                    <h3>Диагностика</h3>
                    <a href="./computed_tomography.html">Компьютерная томография</a>
                    <a href="./spotting_scans.html">Прицельный снимок</a>
                    <a href="./x-rays.html">Рентген</a>
                    <a href="./panoramic_imaging.html">Панорамный снимок зубов</a>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>