<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/diagnostic/spotting_scans.png');">
                    <div>
                        <h2>
                            Прицельный снимок<br> зуба
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Сделайте снимок зубов по цене,доступной каждому
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Прицельный снимок зуба проводят перед началом лечения:</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if50.png" alt="">
                        <h4>Кариеса, чтобы определить наличие поражений под протезом или под пломбой</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if49.png" alt="">
                        <h4>Периодонтита и пульпита, чтобы выполнить анализ состояния корней зуба, количества каналов</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if48.png" alt="">
                        <h4>Кисты и гранулемы зуба</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if51.png" alt="">
                        <h4>Для определения положения зуба до его прорезывания и в период роста</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Прицельный рентгеновский<br> снимок зуба</h2>
                <p style="max-width: 780px">
                    Прицельный снимок зуба – востребованный вариант диагностики большинства проблем в ротовой полости. В основе метода – использование рентген-лучей и латчика приёмника этих лучей (радиовизиографа), что позволяет получить данные о внутренних тканях зуба,
                    а также тканях, окружающих корень. Учитывая локальное направление, сделать рентген можно для 1-3 зубов. Цель исследования – дополнение данных визуального осмотра, упрощение диагностики ряда заболеваний, а также контроль качества лечения,
                    проводимого специалистом.
                </p>
            </div>
            <img src="./images/diagnostic/ex2.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Как проводится диагностика</h2>
                <p style="max-width: 760px">

                    Рентген зуба проходит в два этапа:<br><br>

                    <span>Закрепляется на груди защитный свинцовый фартук, в ротовой полости размещается датчик;</span><br><br>

                    <span>При исследовании пациент должен сохранять неподвижность.</span><br><br> Процесс длится считанные секунды, отсутствует дискомфорт и боль.<br> Специальная подготовка не требуется.<br><br> Результаты исследования обрабатываются
                    компьютерной программой.
                </p>
            </div>
            <img src="./images/diagnostic/ex2_2.png" alt=" ">
        </div>
    </div>

    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>