<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/pediatric_dentistry/treatment_teeth.png');">
                    <div>
                        <h2>
                            Лечение молочных<br> зубов у детей
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Современные и проверенные временем материалы
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Показания для лечения молочных зубов у детей</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if1.png" alt="">
                        <h4>На поверхности зубов появляются белые или темные точки и пятнышки</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if2.png" alt="">
                        <h4>Во время еды или питья зубы начинают ныть</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if3.png" alt="">
                        <h4>Поверхность поврежденного зуба становится шероховатой</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if4.png" alt="">
                        <h4>Появляется неприятный запах изо рта</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Почему молочные зубы<br> требуют лечения?</h2>
                <p style="max-width: 735px">
                    Не все родители относятся к заболеваниям молочных зубов серьезно. Многие считают, что раз они выпадут, то лечить их не нужно. Это ошибочное мнение. Лечение необходимо по целому ряду веских причин:<br><br>
                    <span>при наличии во рту очага инфекции может развиться множество сопутствующих болезней дыхательных путей, ЖКТ и т.д.;</span><br><br>
                    <span>до начала замены молочные зубы полноценно выполняют свои функции, а потому при их отсутствии появляются проблемы с пережевыванием пищи, нарушения развития челюсти;</span><br><br>
                    <span>удаление способно привести к развитию всевозможных патологий прикуса;</span><br><br>
                    <span>заболевания сказываются на зачатках будущих постоянных зубов, что может привести к тому, что они не прорежутся либо же будут иметь дефекты.</span>







                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex8.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Распространенные заболевания</h2>
                <p style="max-width: 745px">
                    <b> Кариес </b> Начинается с деминерализации и размягчения зубной эмали и появления на поверхности временного зуба белых пятен. Начальный кариес молочных зубов в стадии пятна начинает развиваться у детей с 2 лет. Если кариозные пятна
                    не лечить, эмаль трескается, инфекция распространяется на дентин, провоцируя средний и глубокий кариес.

                    <b>Пульпит</b><br> Является осложнением глубокого кариеса и характеризуется воспалением нерва молочного зуба. Характеризуется острой болью и повышением температуры. Заболевание характерно для детей старше 4 лет. <br><br>

                    <b>Периодонтит</b><br> Возникает на фоне глубокого кариеса и пульпита при несвоевременном обращении к врачу. Периодонтит молочного зуба очень опасен, так как может повредить зачаток постоянного зуба.
                </p>
            </div>
            <img src="./images/pediatric_dentistry/ex2_7.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>