<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/dental_treatment/ultrasonic_cleaning.png');">
                    <div>
                        <h2>
                            Ультразвуковая<br> чистка зубов
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Удаление налета и осветление эмали<br> на 2-3 тона за один визит
                            </p>


                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Профессиональную гигиену в клинике проводят, чтобы:</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if23.png" alt="">
                        <h4>Предупредить развитие пародонтита, гингивита или других болезней десен</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if32.png" alt="">
                        <h4>Удалить мягкий налет, зубной камень над десной и из пародонтальных карманов.</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if33.png" alt="">
                        <h4>Устранить кровоточивость десен и неприятный запах.</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/two/if34.png" alt="">
                        <h4>Провести санацию перед имплантацией, протезированием</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Для чего делать<br> ультразвуковую чистку?</h2>
                <p style="max-width: 675px">
                    Процедура подразумевает устранение зубного налета и камня посредством применения специального оборудования – ультразвукового лазера. Она преследует те же цели, что механическая очистка, однако обладает одним важнейшим преимуществом – это полная безопасность.<br><br>                    Зубной камень является твердым образованием, при удалении которого механическим методом может пострадать эмаль. Если же воздействие осуществляется за счет ультразвука, риск повреждения отсутствует. При этом процедура является максимально
                    комфортной для пациента и, как правило, совершенно безболезненной. <br><br> Это позволяет:<br>
                    <span>избавиться от зубного налета;</span><br>
                    <span>удалить зубной камень;</span><br>
                    <span>очистить пародонтальные карманы;</span><br>
                    <span>осветлить эмаль на пару тонов.</span>
                </p>
            </div>
            <img src="./images/dental_treatment/ex10.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Почему ультразвуковую чистку<br> следует выполнять регулярно?</h2>
                <p style="max-width: 765px">
                    <span>идеальная профилактика всевозможных заболеваний ротовой полости. Процедура позволяет не просто устранить налет и зубной камень, предотвратив тем самым множеством проблем (от кровоточивости десен до болезней пародонта). Она также способствует поддержанию в ротовой полости здоровой микрофлоры, устранению вредоносных бактерий;</span><br><br>
                    <span>если зубы здоровые, ваша улыбка будет красивой. Таким образом, чистка ультразвуком позволяет добиться более эстетичного внешнего вида, восстановить природный цвет зубной эмали, что, безусловно, каждому добавит уверенности в себе;</span><br><br>
                    <span>возможность повысить эффективность лечения зубов. Наличие зубного камня и налета способно существенно ухудшить результат. Избавление от вредных отложений положительно повлияет на долгосрочность результатов лечебных процедур.</span><br><br>
                </p>
            </div>
            <img src="./images/dental_treatment/ex2_9.png" alt=" ">
        </div>
    </div>
    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>