<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/surgery/wisdom_extraction.png');">
                    <div>
                        <h2>
                            Удаление зуба<br> мудрости
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Оптимальный подбор анестезии
                            </p>
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Полное отсутствие стресса
                            </p>
                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Показания для<br> экстракции зуба</h2>

                </div>
                <div class="info_care_cont info_care_cont_p ">

                    <div class="ic_cart">
                        <img src="./images/info_care/if25.png" alt="">
                        <h4>Потеря основной части зубной ткани без возможности восстановления</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if41.png" alt="">
                        <h4>Неправильное положение зуба с отсутствием доступа к нему для ухода или лечения</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if42.png" alt="">
                        <h4>Инфекция, поражающая корень зуба</h4>

                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/if43.png" alt="">
                        <h4>Неправильный процесс прорезывания зуба мудрости</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Удаление зуба мудрости</h2>
                <p style="max-width: 675px">
                    Зуб мудрости – это самый последний зуб в зубном ряду. Более правильное название таких зубов – это третьи моляры, или восьмерки. В современной стоматологии такие зубы уже считаются рудиментами, тем, от чего в процессе эволюции человек избавится. Как бы
                    это не было странно, но зубы мудрости практически не работают в процессе пережевывания пищи и не пригождаются ни в каких других процессах. Организм вполне обходится без них.
                </p>
            </div>
            <img src="./images/surgery/ex2.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly exactly2 exactly_flex">
            <img src="./images/surgery/ec2.png" alt=" ">
            <div class="exactly-header exactly-header2" style="padding: 0;">
                <h2>Простое и сложное удаление. </h2>
                <p style="max-width: 675px">
                    <b>Простое удаление</b><br> Операция начинается с введения анестезии.<br> Во время удаления специалистами используются щипцы и элеваторы. Надрезы при данном типе вмешательства не делаются. Сам процесс извлечения зуба из костной ткани
                    длится в течение 2 — 10 минут, в зависимости от расположения корней.<br> Образовавшаяся рана обрабатывается антисептиком. Если она большая — накладываются швы для уменьшения риска попадания в рану инфекции. На область манипуляций накладывается
                    бинт с анестетиком, делается это для сокращения кровотечения.<br><br>

                    <b>Сложное удаление</b><br> В случае сложной операции по удалению зубов мудрости также собираются и анализируются необходимые данные, вводится анестезия.<br> Операция сопровождается рассечением десны скальпелем. Чтобы удалить сам зуб,
                    его разрезают на части при помощи бормашины. Делается это, чтобы облегчить его извлечение. После удаления полученная рана обрабатывается антисептиком и после зашивается.<br> В зависимости от особенностей расположения зуба, время операции
                    может занимать от 15 минут до полутора часов.<br> После проведения манипуляций, вне зависимости от их сложности, врач в обязательном порядке консультирует пациента по вопросам обработки раны, при необходимости назначает медикаментозное
                    лечение.
                </p>
            </div>

        </div>
    </div>

    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/slider_rating.html" %}
    {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %}
    <div class="care">
        <div class="wrapper">
            <h2>Этапы удаления зуба</h2>

            <div class="care_gap">
                <div class="care_box">
                    <div class="counsult_number">1</div>
                    <img src="./images/index/care_1.png" alt="">
                    <h3>Диагностика</h3>
                    <p>Консультация хирурга с выполнением визуальной, рентгенографической диагностики и обследованием на компьютерном томографе (при необходимости).</p>
                </div>
                <div class="care_box">
                    <div class="counsult_number">2</div>
                    <img src="./images/index/care_2.png" alt="">
                    <h3>Подготовка</h3>
                    <p>Сбор анамнеза, выявление возможной аллергии на анестетик, разработка плана действий. Обезболивание выбранным методом</p>
                </div>
                <div class="care_box">
                    <div class="counsult_number">3</div>
                    <img src="./images/index/care_3.png" alt="">
                    <h3>Операция</h3>
                    <p>Выполнение хирургического вмешательства согласно разработанному плану</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="price_implant price_crown">
            <h2>Стоимость удаления зуба мудрости</h2>
            <p class="price_title_p ">Итоговая цена! Никаких скрытых платежей! В стоимость входит:</p>

            <div class="price_table price_table_turnkey">
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                    <h3><span>3 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                    <h3><span>4 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                    <h3><span>5 500 руб</span></h3>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>

            </div>


            <div class="price_table price_table_mobile ">
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости простое</h3>
                        <h3><span>3 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости сложное</h3>
                        <h3><span>4 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
                <div class="price_table_line ">
                    <div>
                        <h3 class="h3_left ">Удаление зуба мудрости с разъединением корней</h3>
                        <h3><span>5 500 руб</span></h3>
                    </div>
                    <button onclick="openModal('form-modal-callback')" type="submit " class="order_btn ">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html" %}
</body>

</html>