<!DOCTYPE html>
<html lang='ru'>
{% include "parts/head.html" %}

<body>
    <div class="pre-nav">
        <h3>Рекомендуйте нас и получайте до <strong>3000 руб</strong> за рекомендацию и посещение бесплатной консультации
        </h3>
    </div>
    <div class="wrapper">
        {% include "parts/header.html" %}
        <div class="swiper swiper-header swiper-usual">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./images/diagnostic/rays.png');">
                    <div>
                        <h2>
                            Рентген диагностика<br> зубов
                        </h2>
                        <div class="swiper-body">
                            <p class="swiper-body-description sw_body_turnkey">
                                <img src="./images/brackets/slider/mark.svg" alt="">Минимальная лучевая нагрузка
                            </p>

                            <div class="swiper-timer-container">
                                <div class="swiper-timer">
                                    <div class="swiper-timer__item">
                                        <h5>34</h5>
                                        <p>часов</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>19</h5>
                                        <p>минут</p>
                                    </div>

                                    <div class="swiper-timer__item">
                                        <h5>05</h5>
                                        <p>секунд</p>
                                    </div>
                                </div>

                                <p class="swiper-timer-desc">
                                    Ответьте на 5 вопросов и получите точную цену!
                                </p>
                            </div>

                            <button class="swiper-button" onclick="openModal('form-modal-scidka')">
                                <a href="#">
                                    Получите лучшую цену -30%
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <img src="./images/products/arrow-slider-products-left.svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="./images/products/arrow-slider-products-right.svg" alt="">
            </div>
        </div>
        <div class="experience">
            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/hand.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Без скрытых комиссий.</span>
                        <br>Все включено.
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/like.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Брекеты не окрашиваются</span>
                        <br>и не влияют на вкус!
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/group.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>3645 пациентов</span>
                        <br>уже доверились нам
                    </p>
                </div>
            </div>

            <div class="experience__item">
                <div class="experience__column">
                    <img src="./images/experience/trophy.png" alt="">
                </div>
                <div class="experience__column">
                    <p><span>Врачи с опытос</span>
                        <br>15+ лет
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info_care">
        <div class="wrapper">
            <div class="info_care_flex">
                <div class="info_care_text">
                    <h2>Основные показания к проведению рентгена:</h2>

                </div>
                <div class="info_care_cont info_care_cont_p">
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if50.png" alt="">
                        <h4>Кариеса, чтобы определить наличие поражений под протезом или под пломбой</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if49.png" alt="">
                        <h4>Периодонтита и пульпита, чтобы выполнить анализ состояния корней зуба, количества каналов </h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if48.png" alt="">
                        <h4>Кисты и гранулемы зуба</h4>
                    </div>
                    <div class="ic_cart">
                        <img src="./images/info_care/three/if52.png" alt="">
                        <h4>Различного рода травмы – при подозрении на повреждение зубов и челюстей</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Что показывает рентген зубов?</h2>
                <p style="max-width: 780px">
                    При проведении любого рентгенологического исследования на снимках получаются участки с просветлением — это значит, что это более плотные и насыщенные места в зубной ткани пациента. Например, если у пациента стоит какая-либо металлическая конструкция в
                    ротовой полости, то на снимке она будет очень белой.<br> Чем более пористая костная ткань у человека, тем более темного оттенка она будет на снимке. Если она плотная, то цвет ее на снимке будет очень светло-серый.
                    Различные пустоты на снимке можно увидеть в виде черного цвета.
                </p>
            </div>
            <img src="./images/diagnostic/ex3.png" alt=" ">
        </div>
    </div>
    {% include "parts/form_ortodont.html" %}
    <div class="wrapper ">
        <div class="exactly  exactly_flex">
            <div class="exactly-header " style="padding: 0;">
                <h2>Как проводится рентгеновское исследование (рентген зубов)?</h2>
                <p style="max-width: 760px">


                    <span>Исследование можно сделать только в специально оборудованном для этого рентген-кабинете;</span><br><br>

                    <span>Пациент должен снять с головы все металлические украшения, съемные пластинки, пирсинг;</span><br><br>
                    <span>Если нужен снимок одного или нескольких зубов, специалист-рентгенолог прислоняет датчик визиографа к конкретному участку;</span><br><br>
                    <span>3D-сканирование происходит при помощи вращающегося модуля (важно сидеть неподвижно);</span><br><br>
                    <span>Все изображения сразу же передаются на компьютер;</span><br><br>
                    <span>Длительность исследования – всего пара минут.</span>
                </p>
            </div>
            <img src="./images/diagnostic/ex2_3.png" alt=" ">
        </div>
    </div>

    {% include "parts/top_five.html" %} {% include "parts/care.html" %} {% include "parts/review.html" %} {% include "parts/clients.html" %} {% include "parts/create.html" %} {% include "parts/price_warning.html" %} {% include "parts/form_ziro.html" %} {%
    include "parts/slider_rating.html" %} {% include "parts/slider_doctors.html" %} {% include "parts/deduction.html" %} {% include "parts/price_crown_tabl.html" %} {% include "parts/slider_clinic.html" %} {% include "parts/popup.html" %} {% include "parts/footer.html"
    %}
</body>

</html>